.animated-border {
  position: relative;
  overflow: hidden;
}

.animated-border:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #D82836;
  transition: width 0.3s ease;
}

.animated-border:hover:after {
  width: 100%;
}

/* CKEditor */
.django-ckeditor-widget {
  width: 100%;
}

.cke_chrome {
  border-radius: 0.75rem !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}

.bg-pattern {
  background-repeat: repeat;
  background-image: url("/static/shared/img/pattern-bg.webp");
}

@media (max-width: 640px) {
  .bg-pattern {
    background-image: url("/static/shared/img/pattern-bg-640px.webp");
  }
}
